:root {
  --c-black: #000000;
  --c-white: #ffffff;
  --c-lgrey: #d3d3d3;
  --c-red: #ff6961;
  --c-green: #77dd77;
  --c-turquoise: #06aed5;
  --c-orange: #ee964b;
  --c-yellow: #f4d35e;
  --c-dblue: #023047;
  --c-blue: #219ebc;
  --c-lblue: #8ecae6;
}
